In [1]:
# Importação das bibliotecas 
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import datetime
import plotly.graph_objects as go

In [2]:
# Definindo o diretório de localização dos datasets 
os.chdir('C:\\Users\\05260536665\\Desktop\\TCC_RAFAEL\\02.Datasets')

In [3]:
# Abrindo os datasets
consumidores = pd.read_csv("olist_customers_dataset.csv")
geolocation = pd.read_csv('olist_geolocation_dataset.csv')
itens = pd.read_csv('olist_order_items_dataset.csv')
pagamentos = pd.read_csv('olist_order_payments_dataset.csv')
reviews = pd.read_csv('olist_order_reviews_dataset.csv')
pedidos = pd.read_csv('olist_orders_dataset.csv')
produtos = pd.read_csv('olist_products_dataset.csv')
vendedores = pd.read_csv('olist_sellers_dataset.csv')
categorias = pd.read_csv('product_category_name_translation.csv')

In [4]:
# Inspeciando o dataset de vendedores
vendedores.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [5]:
# Inspecionando o dataset de consumidores
consumidores.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [6]:
# Agrupando os datasets com base no esquema de dados
df_agrupado = pedidos.merge(itens, on='order_id', how='left')
df_agrupado = df_agrupado.merge(pagamentos, on='order_id', how='outer', validate='m:m')
df_agrupado = df_agrupado.merge(reviews, on='order_id', how='outer')
df_agrupado = df_agrupado.merge(produtos, on='product_id', how='outer')
df_agrupado= df_agrupado.merge(consumidores, on='customer_id', how='outer')
df_agrupado= df_agrupado.merge(vendedores, on='seller_id', how='outer')

df_agrupado.shape

(119151, 39)

In [7]:
# Verificando o tipo das variáveis do dataset agrupado (df_agrupado)
df_agrupado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119151 entries, 0 to 119150
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       119151 non-null  object
 1   customer_id                    119151 non-null  object
 2   order_status                   119151 non-null  object
 3   order_purchase_timestamp       119151 non-null  object
 4   order_approved_at              118974 non-null  object
 5   order_delivered_carrier_date   117065 non-null  object
 6   order_delivered_customer_date  115730 non-null  object
 7   order_estimated_delivery_date  119151 non-null  object
 8   order_item_id                  118318 non-null  float64
 9   product_id                     118318 non-null  object
 10  seller_id                      118318 non-null  object
 11  shipping_limit_date            118318 non-null  object
 12  price                          118318 non-null  float64
 13  freight_value                  118318 non-null  float64
 14  payment_sequential             119148 non-null  float64
 15  payment_type                   119148 non-null  object
 16  payment_installments           119148 non-null  float64
 17  payment_value                  119148 non-null  float64
 18  review_id                      119151 non-null  object
 19  review_score                   119151 non-null  int64
 20  review_comment_title           14189 non-null   object
 21  review_comment_message         51250 non-null   object
 22  review_creation_date           119151 non-null  object
 23  review_answer_timestamp        119151 non-null  object
 24  product_category_name          116609 non-null  object
 25  product_name_lenght            116609 non-null  float64
 26  product_description_lenght     116609 non-null  float64
 27  product_photos_qty             116609 non-null  float64
 28  product_weight_g               118298 non-null  float64
 29  product_length_cm              118298 non-null  float64
 30  product_height_cm              118298 non-null  float64
 31  product_width_cm               118298 non-null  float64
 32  customer_unique_id             119151 non-null  object
 33  customer_zip_code_prefix       119151 non-null  int64
 34  customer_city                  119151 non-null  object
 35  customer_state                 119151 non-null  object
 36  seller_zip_code_prefix         118318 non-null  float64
 37  seller_city                    118318 non-null  object
 38  seller_state                   118318 non-null  object
dtypes: float64(14), int64(2), object(23)
memory usage: 36.4+ MB

In [8]:
# Impressão das colunas
df_agrupado.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date',
       'price', 'freight_value', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value', 'review_id', 'review_score',
       'review_comment_title', 'review_comment_message',
       'review_creation_date', 'review_answer_timestamp',
       'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_city',
       'customer_state', 'seller_zip_code_prefix', 'seller_city',
       'seller_state'],
      dtype='object')

In [9]:
# Tradução das colunas
df_agrupado.columns = ['id_pedido', 'id_consumidor', 'status_da_ordem', 'horario_pedido', 
                      'pedido_aprovado', 'pedido_com_entregador',
                      'pedido_entregue', 'data_estimada', 'item_id', 'produto_id', 'vendedor_id',
                       'data_limite_envio', 'preco','frete', 'pagamento_sequencial', 
                       'tipo_pagamento', 'prestacoes', 'valor_pagamento','id_review', 'review_score',
                       'titulo_review', 'comentario_review', 'data_criacao_review', 'data_resposta_review',
                       'categoria_produto', 'comprimento_nome_produto','comprimento_descricao_produto', 'qtd_fotos_produto', 
                       'peso_produto', 'comprimento_produto', 'altura_produto', 'largura_produto',
                       'id_unico_consumidor', 'cep_consumidor', 'cidade_consumidor', 'estado_consumidor',
                       'cep_vendedor', 'cidade_vendedor','estado_vendedor'                   
                      ]

In [10]:
# Impressão das colunas traduzidas
df_agrupado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119151 entries, 0 to 119150
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   id_pedido                      119151 non-null  object
 1   id_consumidor                  119151 non-null  object
 2   status_da_ordem                119151 non-null  object
 3   horario_pedido                 119151 non-null  object
 4   pedido_aprovado                118974 non-null  object
 5   pedido_com_entregador          117065 non-null  object
 6   pedido_entregue                115730 non-null  object
 7   data_estimada                  119151 non-null  object
 8   item_id                        118318 non-null  float64
 9   produto_id                     118318 non-null  object
 10  vendedor_id                    118318 non-null  object
 11  data_limite_envio              118318 non-null  object
 12  preco                          118318 non-null  float64
 13  frete                          118318 non-null  float64
 14  pagamento_sequencial           119148 non-null  float64
 15  tipo_pagamento                 119148 non-null  object
 16  prestacoes                     119148 non-null  float64
 17  valor_pagamento                119148 non-null  float64
 18  id_review                      119151 non-null  object
 19  review_score                   119151 non-null  int64
 20  titulo_review                  14189 non-null   object
 21  comentario_review              51250 non-null   object
 22  data_criacao_review            119151 non-null  object
 23  data_resposta_review           119151 non-null  object
 24  categoria_produto              116609 non-null  object
 25  comprimento_nome_produto       116609 non-null  float64
 26  comprimento_descricao_produto  116609 non-null  float64
 27  qtd_fotos_produto              116609 non-null  float64
 28  peso_produto                   118298 non-null  float64
 29  comprimento_produto            118298 non-null  float64
 30  altura_produto                 118298 non-null  float64
 31  largura_produto                118298 non-null  float64
 32  id_unico_consumidor            119151 non-null  object
 33  cep_consumidor                 119151 non-null  int64
 34  cidade_consumidor              119151 non-null  object
 35  estado_consumidor              119151 non-null  object
 36  cep_vendedor                   118318 non-null  float64
 37  cidade_vendedor                118318 non-null  object
 38  estado_vendedor                118318 non-null  object
dtypes: float64(14), int64(2), object(23)
memory usage: 36.4+ MB

In [11]:
# Impressão das colunas traduzidas
df_agrupado.columns

Index(['id_pedido', 'id_consumidor', 'status_da_ordem', 'horario_pedido',
       'pedido_aprovado', 'pedido_com_entregador', 'pedido_entregue',
       'data_estimada', 'item_id', 'produto_id', 'vendedor_id',
       'data_limite_envio', 'preco', 'frete', 'pagamento_sequencial',
       'tipo_pagamento', 'prestacoes', 'valor_pagamento', 'id_review',
       'review_score', 'titulo_review', 'comentario_review',
       'data_criacao_review', 'data_resposta_review', 'categoria_produto',
       'comprimento_nome_produto', 'comprimento_descricao_produto',
       'qtd_fotos_produto', 'peso_produto', 'comprimento_produto',
       'altura_produto', 'largura_produto', 'id_unico_consumidor',
       'cep_consumidor', 'cidade_consumidor', 'estado_consumidor',
       'cep_vendedor', 'cidade_vendedor', 'estado_vendedor'],
      dtype='object')

In [12]:
# Impressão dos tipos de dados
tipos_de_dados = pd.DataFrame(df_agrupado.dtypes, columns=['Tipos de Dados'])
tipos_de_dados.columns.name = 'Variáveis'
tipos_de_dados

Variáveis                     Tipos de Dados
id_pedido                             object
id_consumidor                         object
status_da_ordem                       object
horario_pedido                        object
pedido_aprovado                       object
pedido_com_entregador                 object
pedido_entregue                       object
data_estimada                         object
item_id                              float64
produto_id                            object
vendedor_id                           object
data_limite_envio                     object
preco                                float64
frete                                float64
pagamento_sequencial                 float64
tipo_pagamento                        object
prestacoes                           float64
valor_pagamento                      float64
id_review                             object
review_score                           int64
titulo_review                         object
comentario_review                     object
data_criacao_review                   object
data_resposta_review                  object
categoria_produto                     object
comprimento_nome_produto             float64
comprimento_descricao_produto        float64
qtd_fotos_produto                    float64
peso_produto                         float64
comprimento_produto                  float64
altura_produto                       float64
largura_produto                      float64
id_unico_consumidor                   object
cep_consumidor                         int64
cidade_consumidor                     object
estado_consumidor                     object
cep_vendedor                         float64
cidade_vendedor                       object
estado_vendedor                       object

In [13]:
# Imprimindo informações da base
print('A base de dados apresenta {} registros e {} variáveis.'.format(df_agrupado.shape[0], df_agrupado.shape[1]))

A base de dados apresenta 119151 registros e 39 variáveis.

In [14]:
df_agrupado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119151 entries, 0 to 119150
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   id_pedido                      119151 non-null  object
 1   id_consumidor                  119151 non-null  object
 2   status_da_ordem                119151 non-null  object
 3   horario_pedido                 119151 non-null  object
 4   pedido_aprovado                118974 non-null  object
 5   pedido_com_entregador          117065 non-null  object
 6   pedido_entregue                115730 non-null  object
 7   data_estimada                  119151 non-null  object
 8   item_id                        118318 non-null  float64
 9   produto_id                     118318 non-null  object
 10  vendedor_id                    118318 non-null  object
 11  data_limite_envio              118318 non-null  object
 12  preco                          118318 non-null  float64
 13  frete                          118318 non-null  float64
 14  pagamento_sequencial           119148 non-null  float64
 15  tipo_pagamento                 119148 non-null  object
 16  prestacoes                     119148 non-null  float64
 17  valor_pagamento                119148 non-null  float64
 18  id_review                      119151 non-null  object
 19  review_score                   119151 non-null  int64
 20  titulo_review                  14189 non-null   object
 21  comentario_review              51250 non-null   object
 22  data_criacao_review            119151 non-null  object
 23  data_resposta_review           119151 non-null  object
 24  categoria_produto              116609 non-null  object
 25  comprimento_nome_produto       116609 non-null  float64
 26  comprimento_descricao_produto  116609 non-null  float64
 27  qtd_fotos_produto              116609 non-null  float64
 28  peso_produto                   118298 non-null  float64
 29  comprimento_produto            118298 non-null  float64
 30  altura_produto                 118298 non-null  float64
 31  largura_produto                118298 non-null  float64
 32  id_unico_consumidor            119151 non-null  object
 33  cep_consumidor                 119151 non-null  int64
 34  cidade_consumidor              119151 non-null  object
 35  estado_consumidor              119151 non-null  object
 36  cep_vendedor                   118318 non-null  float64
 37  cidade_vendedor                118318 non-null  object
 38  estado_vendedor                118318 non-null  object
dtypes: float64(14), int64(2), object(23)
memory usage: 36.4+ MB

# Tratamento de dados faltantes

In [15]:
## Verificando os valores faltantes de pedido aprovado 
df_agrupado[df_agrupado['pedido_aprovado'].isnull()]

,id_pedido,id_consumidor,status_da_ordem,horario_pedido,pedido_aprovado,pedido_com_entregador,pedido_entregue,data_estimada,item_id,produto_id,...,comprimento_produto,altura_produto,largura_produto,id_unico_consumidor,cep_consumidor,cidade_consumidor,estado_consumidor,cep_vendedor,cidade_vendedor,estado_vendedor
25828,c1d4211b3dae76144deccd6c74144a88,684cb238dc5b5d6366244e0e0776b450,delivered,2017-01-19 12:48:08,NaN,2017-01-25 14:56:50,2017-01-30 18:16:01,2017-03-01 00:00:00,1.0,5ab02ca028398131a5ae91401eb49788,...,26.0,16.0,21.0,6ff8b0d7b35d5c945633b8d60165691b,11030,santos,SP,83323.0,pinhais,PR
30437,5cf925b116421afa85ee25e99b4c34fb,29c35fc91fc13fb5073c8f30505d860d,delivered,2017-02-18 16:48:35,NaN,2017-02-22 11:23:10,2017-03-09 07:28:47,2017-03-31 00:00:00,1.0,c6dd917a0be2a704582055949915ab32,...,42.0,25.0,15.0,7e1a5ca61b572d76b64b6688b9f96473,62700,caninde,CE,3426.0,sao paulo,SP
30439,12a95a3c06dbaec84bcfb0e2da5d228a,1e101e0daffaddce8159d25a8e53f2b2,delivered,2017-02-17 13:05:55,NaN,2017-02-22 11:23:11,2017-03-02 11:09:19,2017-03-20 00:00:00,1.0,c6dd917a0be2a704582055949915ab32,...,42.0,25.0,15.0,c8822fce1d0bfa7ddf0da24fff947172,27945,macae,RJ,3426.0,sao paulo,SP
30516,2babbb4b15e6d2dfe95e2de765c97bce,74bebaf46603f9340e3b50c6b086f992,delivered,2017-02-18 17:15:03,NaN,2017-02-22 11:23:11,2017-03-03 18:43:43,2017-03-31 00:00:00,1.0,c6dd917a0be2a704582055949915ab32,...,42.0,25.0,15.0,f79be7c08dd24b72d34634f1b89333a4,65110,sao jose de ribamar,MA,3426.0,sao paulo,SP
59367,51eb2eebd5d76a24625b31c33dd41449,07a2a7e0f63fd8cb757ed77d4245623c,delivered,2017-02-18 15:52:27,NaN,2017-02-23 03:09:14,2017-03-07 13:57:47,2017-03-29 00:00:00,1.0,7868a64aa111bbb4f41f8e1146c0becb,...,30.0,5.0,20.0,79af1bbf230a2630487975aa5d7d6220,37660,paraisopolis,MG,14940.0,ibitinga,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94264,3c0b8706b065f9919d0505d3b3343881,d85919cb3c0529589c6fa617f5f43281,delivered,2017-02-17 15:53:27,NaN,2017-02-22 11:31:30,2017-03-03 11:47:47,2017-03-23 00:00:00,1.0,db8ed3d08891d16a2438a67ab3acb740,...,42.0,11.0,36.0,c094ac95fcd52f821809ec232a7a6956,95795,sao vendelino,RS,14940.0,ibitinga,SP
103477,e04abd8149ef81b95221e88f6ed9ab6a,2127dc6603ac33544953ef05ec155771,delivered,2017-02-18 14:40:00,NaN,2017-02-23 12:04:47,2017-03-01 13:25:33,2017-03-17 00:00:00,1.0,0e20a07ca1714df21f9b07ca3bf7c682,...,75.0,40.0,40.0,8a9a08c7ca8900a200d83cf838a07e0b,6708,cotia,SP,14882.0,jaboticabal,SP
105611,d77031d6a3c8a52f019764e68f211c69,0bf35cac6cc7327065da879e2d90fae8,delivered,2017-02-18 11:04:19,NaN,2017-02-23 07:23:36,2017-03-02 16:15:23,2017-03-22 00:00:00,1.0,02a79d79e818ad0be36cfc843a6af7ad,...,16.0,15.0,15.0,c4c0011e639bdbcf26059ddc38bd3c18,13225,varzea paulista,SP,3028.0,sao paulo,SP
113257,7013bcfc1c97fe719a7b5e05e61c12db,2941af76d38100e0f8740a374f1a5dc3,delivered,2017-02-18 13:29:47,NaN,2017-02-22 16:25:25,2017-03-01 08:07:38,2017-03-17 00:00:00,1.0,583916a5dae918f5e89baec139141c54,...,28.0,28.0,50.0,e1f01a1bd6485e58ad3c769a5427d8a8,8230,sao paulo,SP,13360.0,capivari,SP
115003,2eecb0d85f281280f79fa00f9cec1a95,a3d3c38e58b9d2dfb9207cab690b6310,delivered,2017-02-17 17:21:55,NaN,2017-02-22 11:42:51,2017-03-03 12:16:03,2017-03-20 00:00:00,1.0,4fd676d9c4723d475026e40aeae56957,...,36.0,13.0,20.0,5a4fa4919cbf2b049e72be460a380e5b,35620,abaete,MG,3554.0,sao paulo,SP

In [16]:
# Verificação do número de linhas excluídas
A = df_agrupado.shape[0]
df_agrupado.dropna(subset = ['pedido_aprovado', 'pedido_com_entregador', 'pedido_entregue', 'item_id', 'produto_id',
                       'vendedor_id', 'data_limite_envio', 'categoria_produto', 'cep_vendedor', 'cidade_vendedor',
                       'estado_vendedor', 'peso_produto', 'largura_produto', 'comprimento_produto', 'altura_produto', 
                        'pagamento_sequencial', 'tipo_pagamento', 'prestacoes', 'valor_pagamento'],
                        inplace=True)
B = df_agrupado.shape[0]
A - B

5078

In [17]:
# Impressão das primeiras linhas de dataframe agrupado.
df_agrupado.head()

,id_pedido,id_consumidor,status_da_ordem,horario_pedido,pedido_aprovado,pedido_com_entregador,pedido_entregue,data_estimada,item_id,produto_id,...,comprimento_produto,altura_produto,largura_produto,id_unico_consumidor,cep_consumidor,cidade_consumidor,estado_consumidor,cep_vendedor,cidade_vendedor,estado_vendedor
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350.0,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350.0,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350.0,maua,SP
3,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43,2017-08-28 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,3a51803cc0d012c3b5dc8b7528cb05f7,3366,sao paulo,SP,9350.0,maua,SP
4,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,2017-08-02 18:24:47,2017-08-02 18:43:15,2017-08-04 17:35:43,2017-08-07 18:30:01,2017-08-15 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,ef0996a1a279c26e7ecbd737be23d235,2290,sao paulo,SP,9350.0,maua,SP

In [18]:
# Verificação da presença de elementos nulos.
df_agrupado[df_agrupado['preco'].isnull()]

Empty DataFrame
Columns: [id_pedido, id_consumidor, status_da_ordem, horario_pedido, pedido_aprovado, pedido_com_entregador, pedido_entregue, data_estimada, item_id, produto_id, vendedor_id, data_limite_envio, preco, frete, pagamento_sequencial, tipo_pagamento, prestacoes, valor_pagamento, id_review, review_score, titulo_review, comentario_review, data_criacao_review, data_resposta_review, categoria_produto, comprimento_nome_produto, comprimento_descricao_produto, qtd_fotos_produto, peso_produto, comprimento_produto, altura_produto, largura_produto, id_unico_consumidor, cep_consumidor, cidade_consumidor, estado_consumidor, cep_vendedor, cidade_vendedor, estado_vendedor]
Index: []

[0 rows x 39 columns]

In [19]:
# Removendo 2 colunas comprimento_nome_produto, comprimento_descricao_produto
df = df_agrupado.drop(columns=['comprimento_nome_produto', 'comprimento_descricao_produto'])

In [20]:
# Df atual - 37 colunas e 114073 linhas
df.shape

(114073, 37)

# Continuação do Pré-Processamento.

In [21]:
# Exportando o df atual para o arquivo 'BaseDadosLimpa'
df.to_csv('C:\\Users\\05260536665\\Desktop\\TCC_RAFAEL\\02.Datasets\\BaseDadosLimpa.csv', index=False)

In [22]:
# Trabalhando com o arquivo 'BaseDadosLimpa'. Visualizando as colunas
df = pd.read_csv("BaseDadosLimpa.csv", nrows=0)
df.columns.values

array(['id_pedido', 'id_consumidor', 'status_da_ordem', 'horario_pedido',
       'pedido_aprovado', 'pedido_com_entregador', 'pedido_entregue',
       'data_estimada', 'item_id', 'produto_id', 'vendedor_id',
       'data_limite_envio', 'preco', 'frete', 'pagamento_sequencial',
       'tipo_pagamento', 'prestacoes', 'valor_pagamento', 'id_review',
       'review_score', 'titulo_review', 'comentario_review',
       'data_criacao_review', 'data_resposta_review', 'categoria_produto',
       'qtd_fotos_produto', 'peso_produto', 'comprimento_produto',
       'altura_produto', 'largura_produto', 'id_unico_consumidor',
       'cep_consumidor', 'cidade_consumidor', 'estado_consumidor',
       'cep_vendedor', 'cidade_vendedor', 'estado_vendedor'], dtype=object)

In [23]:
# Inserindo as colunas em uma lista
cols = ['id_pedido', 'id_consumidor', 'status_da_ordem', 'horario_pedido',
       'pedido_aprovado', 'pedido_com_entregador', 'pedido_entregue',
       'data_estimada', 'item_id', 'produto_id', 'vendedor_id',
       'data_limite_envio', 'preco', 'frete', 'pagamento_sequencial',
       'tipo_pagamento', 'prestacoes', 'valor_pagamento', 'id_review',
       'review_score', 'titulo_review', 'comentario_review',
       'data_criacao_review', 'data_resposta_review', 'categoria_produto',
       'qtd_fotos_produto', 'peso_produto', 'comprimento_produto',
       'altura_produto', 'largura_produto', 'id_unico_consumidor',
       'cep_consumidor', 'cidade_consumidor', 'estado_consumidor',
       'cep_vendedor', 'cidade_vendedor', 'estado_vendedor']

In [24]:
# Selecionando a variável tipo de pagamento e categorizando-o para o modelo de ML
df = pd.read_csv("BaseDadosLimpa.csv", usecols=cols, dtype={'tipo_pagamento': 'category'})

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114073 entries, 0 to 114072
Data columns (total 37 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id_pedido              114073 non-null  object
 1   id_consumidor          114073 non-null  object
 2   status_da_ordem        114073 non-null  object
 3   horario_pedido         114073 non-null  object
 4   pedido_aprovado        114073 non-null  object
 5   pedido_com_entregador  114073 non-null  object
 6   pedido_entregue        114073 non-null  object
 7   data_estimada          114073 non-null  object
 8   item_id                114073 non-null  float64
 9   produto_id             114073 non-null  object
 10  vendedor_id            114073 non-null  object
 11  data_limite_envio      114073 non-null  object
 12  preco                  114073 non-null  float64
 13  frete                  114073 non-null  float64
 14  pagamento_sequencial   114073 non-null  float64
 15  tipo_pagamento         114073 non-null  category
 16  prestacoes             114073 non-null  float64
 17  valor_pagamento        114073 non-null  float64
 18  id_review              114073 non-null  object
 19  review_score           114073 non-null  int64
 20  titulo_review          13667 non-null   object
 21  comentario_review      48226 non-null   object
 22  data_criacao_review    114073 non-null  object
 23  data_resposta_review   114073 non-null  object
 24  categoria_produto      114073 non-null  object
 25  qtd_fotos_produto      114073 non-null  float64
 26  peso_produto           114073 non-null  float64
 27  comprimento_produto    114073 non-null  float64
 28  altura_produto         114073 non-null  float64
 29  largura_produto        114073 non-null  float64
 30  id_unico_consumidor    114073 non-null  object
 31  cep_consumidor         114073 non-null  int64
 32  cidade_consumidor      114073 non-null  object
 33  estado_consumidor      114073 non-null  object
 34  cep_vendedor           114073 non-null  float64
 35  cidade_vendedor        114073 non-null  object
 36  estado_vendedor        114073 non-null  object
dtypes: category(1), float64(12), int64(2), object(22)
memory usage: 31.4+ MB

In [26]:
# Pedindo para o pandas códigos correspondentes aos tipos de pagamento (cartão de crédito, boleto, débito...)
df['tps_pagamentos'] = df['tipo_pagamento'].cat.codes

In [27]:
# Exibindo os tipos de pagamentos e o número correspondente de entradas.
df['tps_pagamentos'].value_counts()

1    84183
0    22189
3     6068
2     1633
Name: tps_pagamentos, dtype: int64

In [28]:
df.head()

,id_pedido,id_consumidor,status_da_ordem,horario_pedido,pedido_aprovado,pedido_com_entregador,pedido_entregue,data_estimada,item_id,produto_id,...,altura_produto,largura_produto,id_unico_consumidor,cep_consumidor,cidade_consumidor,estado_consumidor,cep_vendedor,cidade_vendedor,estado_vendedor,tps_pagamentos
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,8.0,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350.0,maua,SP,1
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,8.0,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350.0,maua,SP,3
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,8.0,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350.0,maua,SP,3
3,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43,2017-08-28 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,8.0,13.0,3a51803cc0d012c3b5dc8b7528cb05f7,3366,sao paulo,SP,9350.0,maua,SP,1
4,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,2017-08-02 18:24:47,2017-08-02 18:43:15,2017-08-04 17:35:43,2017-08-07 18:30:01,2017-08-15 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,8.0,13.0,ef0996a1a279c26e7ecbd737be23d235,2290,sao paulo,SP,9350.0,maua,SP,1

In [29]:
# Verificando quando foi a última compra do cliente
df_compra = df.groupby('id_unico_consumidor').horario_pedido.max().reset_index()
df_compra.columns = ['id_unico_consumidor', 'DataMaximaCompra']
df_compra['DataMaximaCompra'] = pd.to_datetime(df_compra['DataMaximaCompra'])
df_compra.head()

                id_unico_consumidor    DataMaximaCompra
0  0000366f3b9a7992bf8c76cfdf3221e2 2018-05-10 10:56:27
1  0000b849f77a49e4a4ce2b2a4ca5be3f 2018-05-07 11:11:27
2  0000f46a3911fa3c0805444483337064 2017-03-10 21:05:03
3  0000f6ccb0745a6a4b88665a16c9f078 2017-10-12 20:29:41
4  0004aac84e0df4da2b147fca70cf8255 2017-11-14 19:45:42

In [30]:
# Seleção do ponto de observação com a data máxima de compra
df_compra['Recencia'] = (df_compra['DataMaximaCompra'].max() - df_compra['DataMaximaCompra']).dt.days
df_compra.head()

                id_unico_consumidor    DataMaximaCompra  Recencia
0  0000366f3b9a7992bf8c76cfdf3221e2 2018-05-10 10:56:27       111
1  0000b849f77a49e4a4ce2b2a4ca5be3f 2018-05-07 11:11:27       114
2  0000f46a3911fa3c0805444483337064 2017-03-10 21:05:03       536
3  0000f6ccb0745a6a4b88665a16c9f078 2017-10-12 20:29:41       320
4  0004aac84e0df4da2b147fca70cf8255 2017-11-14 19:45:42       287

In [31]:
# Juntando essa informação no banco a partir do id único do consumidor
df_usuario = pd.merge(df, df_compra[['id_unico_consumidor', 'Recencia']], on='id_unico_consumidor')
df_usuario.head()

,id_pedido,id_consumidor,status_da_ordem,horario_pedido,pedido_aprovado,pedido_com_entregador,pedido_entregue,data_estimada,item_id,produto_id,...,largura_produto,id_unico_consumidor,cep_consumidor,cidade_consumidor,estado_consumidor,cep_vendedor,cidade_vendedor,estado_vendedor,tps_pagamentos,Recencia
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350.0,maua,SP,1,331
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350.0,maua,SP,3,331
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350.0,maua,SP,3,331
3,69923a4e07ce446644394df37a710286,31f31efcb333fcbad2b1371c8cf0fa84,delivered,2017-09-04 11:26:38,2017-09-04 11:43:25,2017-09-04 21:22:15,2017-09-05 19:20:20,2017-09-15 00:00:00,1.0,9abb00920aae319ef9eba674b7d2e6ff,...,12.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,7025.0,guarulhos,SP,1,331
4,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43,2017-08-28 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,13.0,3a51803cc0d012c3b5dc8b7528cb05f7,3366,sao paulo,SP,9350.0,maua,SP,1,378

In [32]:
# Extraindo a freqüência de compras, ou seja, quantos pedidos um cliente realizou.
df_frequencia = df.groupby('id_unico_consumidor').pedido_aprovado.count().reset_index()
df_frequencia.columns = ['id_unico_consumidor', 'Frequencia']
df_frequencia.head()

                id_unico_consumidor  Frequencia
0  0000366f3b9a7992bf8c76cfdf3221e2           1
1  0000b849f77a49e4a4ce2b2a4ca5be3f           1
2  0000f46a3911fa3c0805444483337064           1
3  0000f6ccb0745a6a4b88665a16c9f078           1
4  0004aac84e0df4da2b147fca70cf8255           1

In [33]:
# Adicionando também os dados da frequência no banco usuário
df_usuario = pd.merge(df_usuario, df_frequencia, on='id_unico_consumidor')
df_usuario.head()

,id_pedido,id_consumidor,status_da_ordem,horario_pedido,pedido_aprovado,pedido_com_entregador,pedido_entregue,data_estimada,item_id,produto_id,...,id_unico_consumidor,cep_consumidor,cidade_consumidor,estado_consumidor,cep_vendedor,cidade_vendedor,estado_vendedor,tps_pagamentos,Recencia,Frequencia
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350.0,maua,SP,1,331,4
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350.0,maua,SP,3,331,4
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350.0,maua,SP,3,331,4
3,69923a4e07ce446644394df37a710286,31f31efcb333fcbad2b1371c8cf0fa84,delivered,2017-09-04 11:26:38,2017-09-04 11:43:25,2017-09-04 21:22:15,2017-09-05 19:20:20,2017-09-15 00:00:00,1.0,9abb00920aae319ef9eba674b7d2e6ff,...,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,7025.0,guarulhos,SP,1,331,4
4,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43,2017-08-28 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,3a51803cc0d012c3b5dc8b7528cb05f7,3366,sao paulo,SP,9350.0,maua,SP,1,378,1

In [34]:
# Extraindo a receita
df_receita = df.groupby('id_unico_consumidor').valor_pagamento.sum().reset_index()
df_receita.columns = ['id_unico_consumidor', 'Receita']
df_receita.head()

                id_unico_consumidor  Receita
0  0000366f3b9a7992bf8c76cfdf3221e2   141.90
1  0000b849f77a49e4a4ce2b2a4ca5be3f    27.19
2  0000f46a3911fa3c0805444483337064    86.22
3  0000f6ccb0745a6a4b88665a16c9f078    43.62
4  0004aac84e0df4da2b147fca70cf8255   196.89

In [35]:
df_usuario = pd.merge(df_usuario, df_receita, on='id_unico_consumidor')
df_usuario.head()

,id_pedido,id_consumidor,status_da_ordem,horario_pedido,pedido_aprovado,pedido_com_entregador,pedido_entregue,data_estimada,item_id,produto_id,...,cep_consumidor,cidade_consumidor,estado_consumidor,cep_vendedor,cidade_vendedor,estado_vendedor,tps_pagamentos,Recencia,Frequencia,Receita
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,3149,sao paulo,SP,9350.0,maua,SP,1,331,4,82.82
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,3149,sao paulo,SP,9350.0,maua,SP,3,331,4,82.82
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,3149,sao paulo,SP,9350.0,maua,SP,3,331,4,82.82
3,69923a4e07ce446644394df37a710286,31f31efcb333fcbad2b1371c8cf0fa84,delivered,2017-09-04 11:26:38,2017-09-04 11:43:25,2017-09-04 21:22:15,2017-09-05 19:20:20,2017-09-15 00:00:00,1.0,9abb00920aae319ef9eba674b7d2e6ff,...,3149,sao paulo,SP,7025.0,guarulhos,SP,1,331,4,82.82
4,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43,2017-08-28 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,3366,sao paulo,SP,9350.0,maua,SP,1,378,1,37.77

In [36]:
# Verificando novamente se há valores faltantes
missing = df_usuario.isna().sum()
print(missing)

id_pedido                     0
id_consumidor                 0
status_da_ordem               0
horario_pedido                0
pedido_aprovado               0
pedido_com_entregador         0
pedido_entregue               0
data_estimada                 0
item_id                       0
produto_id                    0
vendedor_id                   0
data_limite_envio             0
preco                         0
frete                         0
pagamento_sequencial          0
tipo_pagamento                0
prestacoes                    0
valor_pagamento               0
id_review                     0
review_score                  0
titulo_review            100406
comentario_review         65847
data_criacao_review           0
data_resposta_review          0
categoria_produto             0
qtd_fotos_produto             0
peso_produto                  0
comprimento_produto           0
altura_produto                0
largura_produto               0
id_unico_consumidor           0
cep_consumidor                0
cidade_consumidor             0
estado_consumidor             0
cep_vendedor                  0
cidade_vendedor               0
estado_vendedor               0
tps_pagamentos                0
Recencia                      0
Frequencia                    0
Receita                       0
dtype: int64

In [37]:
df.head()

,id_pedido,id_consumidor,status_da_ordem,horario_pedido,pedido_aprovado,pedido_com_entregador,pedido_entregue,data_estimada,item_id,produto_id,...,altura_produto,largura_produto,id_unico_consumidor,cep_consumidor,cidade_consumidor,estado_consumidor,cep_vendedor,cidade_vendedor,estado_vendedor,tps_pagamentos
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,8.0,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350.0,maua,SP,1
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,8.0,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350.0,maua,SP,3
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,8.0,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350.0,maua,SP,3
3,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43,2017-08-28 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,8.0,13.0,3a51803cc0d012c3b5dc8b7528cb05f7,3366,sao paulo,SP,9350.0,maua,SP,1
4,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,2017-08-02 18:24:47,2017-08-02 18:43:15,2017-08-04 17:35:43,2017-08-07 18:30:01,2017-08-15 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,8.0,13.0,ef0996a1a279c26e7ecbd737be23d235,2290,sao paulo,SP,9350.0,maua,SP,1

In [38]:
df_usuario.shape

(114073, 41)

In [39]:
# Exportando a base de dados para ser trabalhada com a biblioteca pandas profiling
df_usuario.to_csv('C:\\Users\\05260536665\\Desktop\\TCC_RAFAEL\\02.Datasets\\BaseDadosPandasProfiling.csv', index=False)

# Análise Exploratória

In [ ]:
## Usamos o Pandas Profiling para inspecionar e analisar os dados -> Instalação: pip install pandas-profiling
## Relatório html em anexo.
from pandas_profiling import ProfileReport
profile = ProfileReport(df_usuario, title='Perfil Base de Clientes', html = {'style': {'full_width': True}})
profile.to_notebook_iframe()
profile.to_file("/content/relatorio.html")

In [ ]:
# Relatório com o resultado gerado pelo Pandas Profiling está no arquivo relatorio.html

In [40]:
# Tendo em vista a matiz de correlação com muitos atributos gerados na pandas profiling, excluímos algumas colunas para 
# gerar uma melhor matriz de correlação.
df_usuario.drop(columns=['id_pedido',  'status_da_ordem',  
       'pedido_com_entregador', 'pedido_entregue',
       'data_estimada', 'produto_id', 'vendedor_id',
       'data_limite_envio', 'pagamento_sequencial',
       'id_review', 'titulo_review', 'comentario_review',
       'data_criacao_review', 'data_resposta_review', 'categoria_produto',
       'qtd_fotos_produto', 'peso_produto', 'comprimento_produto',
       'altura_produto', 'largura_produto', 
       'cep_consumidor', 'cidade_consumidor', 'estado_consumidor',
       'cep_vendedor', 'cidade_vendedor', 'estado_vendedor', 'tipo_pagamento', 
       'id_consumidor', 'horario_pedido', 'pedido_aprovado', 'item_id',
       'id_unico_consumidor'], inplace=True)

In [41]:
df_usuario.head()

,preco,frete,prestacoes,valor_pagamento,review_score,tps_pagamentos,Recencia,Frequencia,Receita
0,29.99,8.72,1.0,18.12,4,1,331,4,82.82
1,29.99,8.72,1.0,2.00,4,3,331,4,82.82
2,29.99,8.72,1.0,18.59,4,3,331,4,82.82
3,35.39,8.72,1.0,44.11,5,1,331,4,82.82
4,29.99,7.78,3.0,37.77,4,1,378,1,37.77

In [ ]:
# Instalação da biblioteca plotly
#pip install plotly==4.14.3

In [ ]:
# Criando a matriz de correlação
matriz_corr = df_usuario.corr()

In [ ]:
# Plotando o gráfico da matriz de correlação
corr_graf = corrplot.Corrplot(matriz_corr)
corr_graf.plot(upper = 'ellipse', fontsize = 'x-large')
fig = plt.gcf()
fig.set_size_inches(13, 8)
fig.show()

In [42]:
# Exportando a base que será usada nos modelos de ML
df_usuario.to_csv('C:\\Users\\05260536665\\Desktop\\TCC_RAFAEL\\02.Datasets\\BaseML.csv', index=False)